html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/space_bg.webp") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ajuste a altura conforme necessário */
}
